.help {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    flex-wrap: wrap;
}

.help table {
    font-size: inherit;
}

.help thead {
    display: none;
}

.help td {
    padding: 0.5em 0;
}

.help td:first-child {
    text-align: right;
    padding-right: 1em;
}
