.menu {
    display: flex;
    background-size: 100% 100%;
    position: absolute;
    outline: none;
    height: 100%;
    width: 100%;
}

.main-menu-overlay, .game-menu-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

.submenu-title {
    position: absolute;
    top: 1%;
    padding: 0.33em 0.67em;
}

.menu-bar {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.submenu {
    position: relative;
    height: 100%;
}
