.armless-wanker-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 0.2em;
    height: auto;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.menu-button {
    white-space: normal;
    margin: 0 1em;
}
