.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.choice {
    margin: 0.5em 0;
}
