* {
    box-sizing: border-box;
    line-height: 1em;
    /* make it unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body {
    margin: 0;
    background-color: black;
    color: #eee;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    color: inherit;
    outline: 0;
    background: none;
    font-size: 1em;
    padding: 0;
    text-overflow: unset;
    white-space: nowrap;
}
