.MainMenu, .GameMenu {
    display: flex;
    background-size: 100% 100%;
}

.main-menu-overlay, .game-menu-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

.menu-items {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.submenu {
    position: relative;
    height: 100%;
}
