.menu {
    display: flex;
    background-size: 100% 100%;
}

.menu .main-menu-overlay, .menu .game-menu-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

.menu .submenu-title {
    position: absolute;
    top: 1%;
    padding: 0.33em 0.67em;
}

.menu .menu-bar {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.menu .submenu {
    position: relative;
    height: 100%;
}
