.Notifications {
    width: auto !important;
    display: flex;
    flex-direction: column;
}

.Notifications>div {
    box-sizing: content-box;
    display: inline-block;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.75);
    animation: fade-out 1.5s linear forwards;
}

.Notifications>div.reduce {
    opacity: 0;
    animation: reduce 1.5s linear forwards;
}

@keyframes reduce {
    from {
        padding: 1em;
        height: 1em;
    }
    to {
        padding: 0 1em;
        height: 0;
    }
}
