html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: black;
    color: #eee;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    color: inherit;
    outline: 0;
    background: none;
    font-size: 1em;
    padding: 0;
    text-overflow: unset;
    white-space: nowrap;
}
