/* horizontal device, vertical black bands, w >= 1920, h == 1080 */
#game {
    width: calc(100vh * ${game_width} / ${game_height});
}

#textbox {
    height: ${textbox_height};
    ${textbox_yalign}; /* top: 0; or bottom: 0; */
}

#namebox {
    top: ${namebox_top};
    left: ${namebox_left};
    right: ${namebox_left};
    font-family: ${namebox_ffamily};
    font-size: ${namebox_fsize};
    width: ${namebox_width};
    height: ${namebox_height};
    padding: ${namebox_padding};
    text-align: ${namebox_txtalign};
    ${namebox_bgtile};
}

#dialog {
    top: ${dialog_top};
    left: ${dialog_left};
    font-family: ${dialog_ffamily};
    font-size: ${dialog_fsize};
    color: ${dialog_color};
    width: ${dialog_width};
    text-align: ${dialog_txtalign};
}

#main-menu, #confirm {
    font-family: ${mmenu_ffamily};
    font-size: ${mmenu_fsize};
}

#main-menu>.items {
    width: ${mmenuitems_width};
}

#main-menu button, #confirm button {
    font-family: ${mmenubtn_ffamily};
    font-size: ${mmenubtn_fsize};
    color: ${mmenubtn_color};
}

#main-menu button {
    width: ${mmenubtn_width};
    height: ${mmenubtn_height};
    padding: ${mmenubtn_padding};
    text-align: ${mmenubtn_txtalign};
}

#main-menu button:hover, #confirm button:hover {
    color: ${mmenubtn_color_hover};
}

#game-infos {
    margin-right: ${infos_marginright};
    margin-bottom: ${infos_marginbottom};
}

#game-name {
    font-size: ${title_fsize};
}

#choice {
    height: ${choice_height};
    ${choice_yalign};
}

#choice>button {
    color: ${choicebtn_color};
    width: ${choicebtn_width};
    ${choicebtn_bgtile};
    padding: ${choicebtn_padding};
    font-family: ${choicebtn_ffamily};
    font-size: ${choicebtn_fsize};
    text-align: ${choicebtn_txtalign};
}

#choice>button:hover {
    color: ${choicebtn_color_hover};
}

#main-menu button:disabled, #choice>button:disabled {
    color: ${disabledbtn_color};
}

#confirm>.frame {
    padding: ${confirmframe_padding};
}


/* vertical device, horizontal black bands, w == 1920, h >= 1080 */
@media (max-aspect-ratio: ${game_width} / ${game_height}) {
    #container {
        flex-direction: column;
    }

    #game {
        width: 100vw;
        height: calc(100vw * ${game_height} / ${game_width});
    }

    #namebox {
        font-size: ${namebox_fsize_v};
    }

    #dialog {
        font-size: ${dialog_fsize_v};
    }

    #choice>button {
        font-size: ${choicebtn_fsize_v};
    }

    #main-menu>button {
        font-size: ${mmenubtn_fsize_v};
    }

    #game-name {
        font-size: ${title_fsize_v};
    }
}
