/* horizontal device, vertical black bands, w >= 1920, h == 1080 */
#game {
    width: calc(100vh * ${game_width} / ${game_height});
}

#textbox {
    height: ${textbox_height};
    ${textbox_yalign}; /* top: 0; or bottom: 0; */
}

#namebox {
    top: ${namebox_top};
    left: ${namebox_left};
    right: ${namebox_left};
    font-family: ${namebox_ffamily};
    font-size: ${namebox_fsize};
    width: ${namebox_width};
    height: ${namebox_height};
    margin: ${namebox_margin};
    text-align: ${namebox_txtalign};
    ${namebox_bgtile};
}

#dialog {
    top: ${dialog_top};
    left: ${dialog_left};
    font-family: ${dialog_ffamily};
    font-size: ${dialog_fsize};
    color: ${dialog_color};
    width: ${dialog_width};
    text-align: ${dialog_txtalign};
}

#main-menu {
    font-family: ${mmenu_ffamily};
    font-size: ${mmenu_fsize};
}

#main-menu>.items {
    width: ${mmenuitems_width};
}

#main-menu button {
    font-family: ${mmenubtn_ffamily};
    font-size: ${mmenubtn_fsize};
    color: ${mmenubtn_color};
    margin: ${mmenubtn_margin};
    width: ${mmenubtn_width};
    height: ${mmenubtn_height};
    text-align: ${mmenubtn_txtalign};
    ${mmenubtn_bgtile};
}

#main-menu button:hover {
    color: ${mmenubtn_color_hover};
}

#game-infos {
    margin-right: ${infos_marginright};
    margin-bottom: ${infos_marginbottom};
}

#game-name {
    font-size: ${title_fsize};
}

#menu {
    height: ${menu_height};
    ${menu_yalign};
}

#menu>button {
    color: ${menubtn_color};
    width: ${menubtn_width};
    height: ${menubtn_height};
    ${menubtn_bgtile};
    margin: ${menubtn_margin};
    font-family: ${menubtn_ffamily};
    font-size: ${menubtn_fsize};
    text-align: ${menubtn_txtalign};
}

#menu>button:hover {
    color: ${menubtn_color_hover};
}

#main-menu button:disabled, #menu>button:disabled {
    color: ${disabledbtn_color};
}

#main-menu button:disabled:hover, #menu>button:disabled:hover {
    color: ${disabledbtn_color_hover};
}


/* vertical device, horizontal black bands, w == 1920, h >= 1080 */
@media (max-aspect-ratio: ${game_width} / ${game_height}) {
    #container {
        flex-direction: column;
    }

    #game {
        width: 100vw;
        height: calc(100vw * ${game_height} / ${game_width});
    }

    #namebox {
        font-size: ${namebox_fsize_v};
    }

    #dialog {
        font-size: ${dialog_fsize_v};
    }

    #menu>button {
        font-size: ${menubtn_fsize_v};
    }

    #main-menu>button {
        font-size: ${mmenubtn_fsize_v};
    }

    #game-name {
        font-size: ${title_fsize_v};
    }
}
