.confirm {
    position: absolute;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.frame {
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.msg {
    text-align: center;
}

.items {
    display: flex;
    justify-content: space-around;
    margin-top: 1.67em;
}
