.notifications {
    position: absolute;
    display: flex;
    flex-direction: column;
    outline: none;
}

.notification {
    box-sizing: content-box;
    display: inline-block;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.75);
    animation: fade-out 1.5s linear forwards;
    /* animation: reduce 1s linear 2s forwards; */
}

@keyframes reduce {
    0% {
        opacity: 1;
        padding: 1em;
        height: 1em;
    }
    50% {
        opacity: 0;
        padding: 1em;
        height: 1em;
    }
    100% {
        opacity: 0;
        padding: 0 1em;
        height: 0;
    }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
