.history {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.history-line {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1em 0;
}

.history-line>div {
    padding: 0 0.5em;
}

.who {
    width: 20%;
    color: #0099cc;
    text-align: right;
}

.what {
    width: 80%;
}
